/* DESKTOP ICON
**************************************************/

.x-dsk-icon-img {
  height:64px;
x  width:64px;
  background-position:center;
}

.x-dsk-icon-name {
  height:16px;
x  width:64px;
  font-size:13px;
  padding:2px;
  text-align:center;
  font-family:arial,tahoma,verdana,helvetica;
}

/* RSS READER
**************************************************/

.icon-rssreader-16 {
  background-image:url("http://cdn.iconfinder.net/data/icons/aquaticus/16%20X%2016/feed.png") !important;
  background-repeat:no-repeat;
}

.icon-rssreader-64 {
  background-image:url("http://cdn.iconfinder.net/data/icons/aquaticus/60%20X%2060/feed.png") !important;
  background-repeat:no-repeat;
}

/* YOUTUBE PLAYER
**************************************************/

.ext-ux-youtubeplayer {
    xborder-right:1px solid #99BBE8;
    xborder-bottom:1px solid #99BBE8;
}

.icon-youtubeplayer-16 {
  background-image:url("http://cdn.iconfinder.net/data/icons/aquaticus/16%20X%2016/youtube.png") !important;
  background-repeat:no-repeat;
}

.icon-youtubeplayer-64 {
  background-image:url("http://cdn.iconfinder.net/data/icons/aquaticus/60%20X%2060/youtube.png") !important;
  background-repeat:no-repeat;
}

.x-desktop-youtubesearch-item {
    text-align:center;
    padding:5px 0;
}

.x-desktop-youtubesearch-item-selected {
    background-color:#DFE8F6;
}

.x-desktop-youtubesearch-item-over {
    background-color:#efefef;
}

.x-desktop-youtubesearch-item img {
    clip:rect(10px, 94px, 68px, 0pt);
    cursor:pointer;
}

.x-desktop-youtubesearch-item-title {
    padding:0 10px;
}

.x-desktop-youtubesearch-item-title a {
    color:#15428B;
    text-decoration:none;
}

.x-desktop-youtubesearch-item-title a:hover {
    text-decoration:underline;
}

.x-desktop-youtubesearch-item-details {
    width:120px;
    margin:0 auto;
}

.x-desktop-youtubesearch-item-details div {
    float:left;
    width:90px;
    color:#666666;
    font-size:11px;
    text-align:left;
}
/*
.x-desktop-youtubesearch-item table {
    width:100%;
    border-collapse:collapse;
}

.x-desktop-youtubesearch-item td {
    color:#666666;
    font-size:11px;
}
*/
/* DESKTOP VIEW
**************************************************/

.x-desktop-view-cell {
    height:100px;
    width:100px;
    vertical-align:top;
    opacity:0.9;
    border:1px solid black;
}
.x-desktop-view-cell-over {
    opacity:1;
}

.x-desktop-view-cell div {
    padding-top:78px;
    text-align:center;
    background-position:50% 12px;
}

.x-desktop-view-cell a {
    height:20px;
    font:14px arial,tahoma,verdana,helvetica;
}